.wrapper2
  .header
    .header__first
      %h2.header__first__user
        = @group.name
      %ul.header__first__member
        Member : 
        %li.header__first__member__list
          - @group.group_users.each do |group_user|
            = group_user.user.name
    = link_to edit_group_path(@group), class: "header__second-btn" do
      .header__second
        %span Edit
  .contents
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .send-box
        .input-box
          .input-box__text
            = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          .input-box__image
            = f.label :image, class: 'input-box__image' do
              = icon('fas', 'image')
              = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'
          
 
    
